{
  presets: [
    ['playlyfe', { react: false, asyncAwait: true }],
  ],
  plugins: [
    ['module-resolver', { root: ['./src'] }],
    ['./scripts/flow-runtime', { annotate: false, assert: false }]
  ],
}
