{
  presets: [
    [
      'playlyfe', {
        react: false,
        targets: {
          node: 'current',
        },
        debug: false,
      },
    ],
  ],
  plugins: [
    ['module-resolver', { root: ['./src'] }],
    ['./scripts/flow-runtime', { annotate: false, assert: false }]
  ],
}
