language: node_js
cache: yarn
notifications:
  email: false
node_js:
  - '9'
  - '8'
script:
  - yarn run test
  - yarn run build
after_success:
  - yarn report-coverage
  - yarn travis-deploy-once "yarn run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
